.pizza-card{
    width: 80vw;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #e8e8e8;
    padding: 1.5rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}
.pizza-card img{
    height: 180px;
    max-width: 100%;
}
.pizza-card h2{
    font-size: var(--titulo);
    font-weight: var(--bold);
    font-style: var(--normal);
}
@media screen and (min-width: 768px){
    .pizza-card{
        width: 80vw;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #e8e8e8;
        padding: 1.5rem;
        border-radius: 20px;
        margin-bottom: 3rem;
    }
    .pizza-card img{
        height: 240px;
        max-width: 100%;
    }
    .pizza-card h2{
        font-size: var(--titulo);
        font-weight: var(--bold);
        font-style: var(--normal);
    }
}