#home{
    height: 100vh;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-informacoes{
    height: 10rem;
}
.home-informacoes h1{
    font-style: var(--italic);
    font-weight: var(--bold);
    font-size: var(--titulo);
    margin-bottom: 2rem;
}

.home-informacoes a{
    color: var(--cor-laranja);
    font-weight: var(--bold);
    font-size: var(--subtitulo);
    padding: 1rem;
    border: 1px solid var(--cor-laranja);
    border-radius: 15px;
}

@media screen and (min-width:768px) {
    #home{
        height: 90vh;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #home img{
        align-self: flex-end;
        width: 35vw;
        padding-inline-end: 8rem;
        }
    .home-informacoes{
        height: 0rem;
        margin-left: 6rem;
    }
    .home-informacoes h1{
        font-style: var(--italic);
        font-weight: var(--bold);
        font-size: 35px;   
        margin-bottom: 3rem;
        padding-top: 13rem;
    }
    .home-informacoes a{
        color: var(--cor-laranja);
        font-weight: var(--bold);
        font-size: var(--subtitulo);
        padding: 1rem 2rem;
        border: 1px solid var(--cor-laranja);
        border-radius: 15px;
    }
    .home-informacoes a:hover{
    color: white;
    background-color: var(--cor-laranja);  
    }
}
