@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(cardapio.css);
@import url(footer.css);
@import url(components/pizza-card.css);
@import url(vinhos.css);
@import url(bebidas.css);
:root{
    --cor-laranja:#FFB800;
    --cor-marrom:#473001;
    --cor-branco:#fff;
    --cor-preto:#000;

    --fonte:'Playfair Display', serif;
    --regular:400;
    --bold:700;
    --italic: italic;
    --normal: normal;
    --titulo: 1.5rem;
    --subtitulo: 1.2rem;
    --paragrafo: 1rem;
}

body,section,footer{
    color: var(--cor-preto);
    font-family: var(--fonte);
    font-weight: var(--regular);
    width: 100vw;
}
footer{
    background-color: var(--cor-laranja);
    color: var(--cor-preto);
    font-family: var(--fonte);
    font-weight: var(--bold);
    width: 100vw;
}
section{
    padding: 2rem;
    height: auto;
}
h1,h2{
    font-style: var(--italic);
}
h1{
    font-size: var(--titulo);
    padding-bottom: 1rem;
}
h2{
    font-size: var(--subtitulo);
}
.icon{
    width: 40px;
    height: 40px;
}

@media screen and (min-width:768px) {

    .avaliacao-form form,.avaliacao-form form div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .avaliacao-form form textarea{
        width: 25vw;
        outline: 0;
        border: none;
        background-color: #e8e8e8;
        border-bottom: 2px solid var(--cor-preto);
        padding: .5rem;
    }
    .avaliacao-form form textarea:focus{
        border-bottom: 2px solid var(--cor-laranja);
    }

    .avaliacao-form form input[type="text"]{
    width: 25vw;
    outline: 0;
    border: none;
    background-color: #e8e8e8;
    border-bottom: 2px solid var(--cor-preto);
    padding: .5rem;
    }
    
    .avaliacao-form form input:focus{
    border-bottom: 2px solid var(--cor-laranja);
    }

    .avaliacao-form form input[type="submit"]{
        width: 25vw;
        outline: 0;
        border: none;
        background-color: var(--cor-marrom);
        color: var(--cor-branco);
        padding: .5rem;
    }
    
    input:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .avaliacao-form form div{
        gap: .5rem;
        width: 25vw;
        align-items: start;
    }

    .avaliacao-form form div div{
        width: 25vw;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
    .avaliacao-form form div div div{
        display: flex;
        width: 25vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}